<div class="col-md-12 mt-3">
    <h2>{{title}}</h2>
    <hr>
    <div class="col-md-2"><h5 class="subtitle" for="adjuntos">Video :</h5></div>
    <div class="col-md-8">
        <input type="file" name="adjuntos" ng2FileSelect [uploader]="uploader" />
    </div> 

    <div class="col-md-12 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td>{{ item?.file?.name }}</td>
                    <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" (click)="eliminar(item)">
                        <span class="glyphicon glyphicon-trash"></span>Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container col-md-5 mt-5">
        <div class="row mt-1">
            <div class="col text-center">
                <button class="btn btn-success" (click)="reconocimiento('facial')">Reconocimiento facial</button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col text-center">
                <button class="btn btn-success" (click)="reconocimiento('habla')">Reconocimiento habla</button>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col text-center">
                <button class="btn btn-success">Reconocimiento facial/habla</button>
            </div>
        </div>
    </div>
</div>